.dashboard {
  width: 100%;
  background-color: aliceblue;

  .loader-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .card-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .card-user {
      width: 45rem;
      margin: 25px 0;
      min-height: 15rem;
      text-align: center;
      &__header {
        display: flex;
        justify-content: center;
      }
      &__content{
        min-height: inherit;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}
